// SERVICES
// ===============================================
.services
	.services-meta
		margin-bottom: 30px
		text-align: center
	.services-meta-mod
		margin-bottom: 0px
		text-align: center
	.services-in
		color: red
	.services-items
		font-size: 0
		margin-left: -50px
		margin-bottom: 30px
	.services-item
		width: 253px
		margin-bottom: 30px
		margin-left: 37px
		display: inline-block
		vertical-align: top
		text-align: center
		font-size: 14px
		color: #000
		text-decoration: none
	a.services-item
		&:hover
			text-decoration: underline
			.services-title
				text-decoration: underline
	.services-media
		display: inline-block
		width: 180px
		height: 180px
		border-radius: 50%
		overflow: hidden
		margin-bottom: 10px
		img
			border-radius: 50%
	.services-title
		margin-bottom: 10px
		+narrowBold
	.services-content
		padding: 0 10px
		+tahoma
		line-height: 18px
// SOCIAL
// ===============================================
.social
	margin-bottom: 15px
	text-align: center
	&.m-small
		.social-item
			width: 136px
			margin-left: 26px
	&.m-mod
		margin-bottom: 0
		.fb
			border-bottom: 4px solid #335196
			line-height: 30px
			box-sizing: border-box
		.vk
			border-bottom: 4px solid #365881
			line-height: 30px
			box-sizing: border-box
		.tw
			border-bottom: 4px solid #28bef0
			line-height: 30px
			box-sizing: border-box
		.gp
			border-bottom: 4px solid #cb412e
			line-height: 30px
			box-sizing: border-box
	.social-item
		display: inline-block
		vertical-align: middle
		width: 149px
		margin-left: 30px
		&:first-child
			margin-left: 0
	.social-link
		display: block
		height: 38px
		line-height: 34px
		border-radius: 4px
		text-align: center
		text-decoration: none
		transition: all 0.2s ease
		&:hover
			opacity: 0.8
			transition: all 0.2s ease
		&:active
			position: relative
			top: 1px
		&.fb
			background: #3757a1
		&.vk
			background: #3a5f8b
			.ico
				margin-top: 2px
		&.tw
			background: #33ccff
			.ico
				margin-top: 5px
		&.gp
			background: #dc4b37
			.ico
				margin-top: 5px
		.ico
			margin-right: 10px
			display: inline-block
			vertical-align: middle
		span
			display: inline-block
			vertical-align: middle
			+myriadPro
			font-size: 20px
			color: #FFF

.note
	margin-bottom: 25px
	font-size: 11px
	line-height: 1.4 
	color: #606060
	&.m-m0
		margin-bottom: 0
.detail
	margin-bottom: 15px
	font-size: 15px
	line-height: 1.4 
	font-style: italic
	&.m-small
		font-size: 14px
	p
		margin-bottom: 10px
.send
	display: block
	padding: 5px 0
	border-radius: 5px
	background-color: #ef2a56
	background-image: linear-gradient(bottom, rgba(255,255,255,.18) 0%, rgba(255,255,255,0) 100%)
	border-bottom: 5px solid #d51741 
	+narrowBold
	font-size: 16px
	text-transform: uppercase
	color: #FFF
	text-decoration: none
	text-align: center
	text-shadow: 0 -1px 2px #9e0029
	&:hover
		background-image: linear-gradient(bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,.18) 100%)
	&:active
		position: relative
		top: 1px
	&.m-mod
		height: 35px
		line-height: 35px

// SELECT
// ===============================================
.select-wrap
	margin-bottom: 20px
	text-align: center
	position: relative
	z-index: 999
	.select
		margin-left: 20px
		&:first-child
			margin-left: 0

.select
	display: inline-block
	font-size: 26px
	color: #fa1749
	cursor: pointer
	position: relative
	&.is-open
		border-radius: 3px 3px 0 0
		box-shadow: 0 4px 10px rgba(0,0,0,.12)
		&:before	
			content: ""
			height: 4px
			background: #fff 
			position: absolute
			left: 0
			right: 0
			bottom: 0px
			z-index: 1111
	span
		padding: 7px 30px 12px 15px
		display: block
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
	em
		font-style: normal
	i
		content: ""
		position: absolute
		top: 20px
		right: 13px
		+s($s-select-arr)
	&.is-open
		.select-drop
			display: block
	.select-drop
		display: none
		position: absolute
		max-height: 360px
		overflow: auto 
		top: 100%
		left: 0px
		right: 0px
		z-index: 666
		background: #FFF
		border-radius: 0 0 3px 3px
		box-shadow: 0 4px 10px rgba(0,0,0,.12)
	ul
		margin: 0
		padding: 0 0 10px
	li
		padding: 3px 15px 5px
		font-size: 21px
		&:hover
			cursor: pointer
			color: #E2231B 
		span
			padding: 0
// gallery
// ===============================================
.gallery
	height: 380px
	overflow: hidden
	position: relative
	&.m-noslider
		.gallery-item
			+cover
			background-position: 50% bottom
	&.m-content
		.gallery-prev
			left: 10px
		.gallery-next
			right: 10px
	.gallery-back
		+s($s-back)
		position: absolute
		top: 25px
		left: 45px
		z-index: 666
		cursor: pointer
	.gallery-back-home
		+s($s-back-home)
		position: absolute
		top: 25px
		left: 45px
		z-index: 666
		cursor: pointer
	.gallery-back-privileges
		+s($s-back-privileges)
		position: absolute
		top: 25px
		left: 45px
		z-index: 666
		cursor: pointer
	.gallery-item
		width: 100%
		height: 380px
		+cover
		box-shadow: inset 0px 2px 6px rgba(0,0,0,.13)
		.gallery-item-container
			@extend %wrap-small
			height: 100%
			position: relative
		.gallery-item-note
			width: 250px
			padding: 20px 
			background: #FFF 
			color: #000
			position: absolute
			top: 45px
			left: 60px
		.gallery-item-title
			margin-bottom: 10px
			font-size: 22px
			text-transform: uppercase
			+helveticaCyBold
	.gallery-meta
		width: 100%
		position: absolute
		top: 10px
		z-index: 666
		color: #000 
		font-size: 32px
		text-transform: uppercase
		text-align: center
		+helveticaCyBold
		&.m-transparent
			.gallery-meta-in
				background: transparent
				color: #FFF  
		.gallery-meta-in
			display: inline-block
			padding: 0 5px
			background: #FFF
	.gallery-prev, .gallery-next
		position: absolute
		top: 50%
		margin-top: -36px
		z-index: 666
		cursor: pointer
	.gallery-prev
		+s($s-slider-prev)
		left: 30px
	.gallery-next
		+s($s-slider-next)
		right: 30px
// map
// ===============================================
.map-item
	height: 100%
.map
	height: 535px
	position: relative
	&.m-small
		height: 385px
	.map-social
		width: 100%
		position: absolute
		bottom: 40px
		z-index: 666
	.map-note
		width: 100%
		position: absolute
		top: 20px
		z-index: 666
		text-align: center
		.map-note-in
			padding: 6px 15px
			display: inline-block
			background-color: #fff
			box-shadow: 0 3px 7px rgba(0,0,0,.17)
		.map-note-span, .map-note-link
			display: inline-block
			+narrow
		.map-note-span
			font-size: 24px
			color: #000 
		.map-note-link
			font-size: 24px
			color: #f11764
			text-decoration: none
			&:hover
				text-decoration: underline
	.map-in
		height: 535px
		overflow: hidden
		img
			max-width: 100%

.part
	margin-top: 110px
	.part-note
		margin-bottom: 10px
		font-size: 16px
		font-style: italic
	// .part-img
		// img

// news
// ===============================================
.news
	.news-title
		margin: 10px 0
	.news-items
		font-size: 14px
		margin-left: -20px
		+clr
	.news-item
		width: 300px
		height: 365px
		float: left
		background: #FFF
		margin-left: 20px
		margin-bottom: 20px
		font-size: 14px
	.news-more
		+s($s-more)
		display: block
		margin: 0 auto 15px
		transition: all 0.2s ease
		&:hover
			opacity: 0.4
			transition: all 0.2s ease
	.news-media
		width: 300px
		height: 165px
		overflow: hidden
		// img
	.news-content
		padding: 10px
	.news-item-title
		font-size: 15px
		text-transform: uppercase
		color: #000
		+narrowBold
	.news-meta
		font-size: 14px
		font-style: italic
	.news-date
		font-size: 14px
		font-style: italic
	.news-descr
		margin: 15px 0
		font-size: 14px
	.news-call
		font-size: 14px
		color: #f11764
// enter
// ===============================================
.enter
	padding: 10px
	background: #fff 
	.enter-in
		@extend %wrap
		text-align: center
	.enter-title
		margin-right: 15px
		display: inline-block
		vertical-align: middle
		font-size: 24px
		text-transform: uppercase
		color: #2c2d2f 
	.enter-form
		display: inline-block
		vertical-align: middle
		position: relative
	.enter-form-input
		padding: 0 10px
		border-radius: 3px
		background-clip: padding-box
		background-color: #fff
		box-shadow: inset 1px 3px 5px rgba(0,0,0,.05), inset 0 0 6px #dfe2e7
		outline: none
		font-size: 28px
		word-spacing: 300% 
	.enter-form-btn
		width: 76px
		padding: 6px 0px
		position: absolute
		right: 0
		top: -2px
		margin-right: -76px
		border-radius: 4px 4px 4px 0
		background-clip: padding-box
		background-color: #ff4c73
		border-left: 2px solid #e13867
		border-bottom: 3px solid #e13867
		font-size: 20px
		+helveticaCyPlain
		color: #FFF
		text-transform: uppercase
		text-decoration: none
		transition: all 0.2s ease
		&:hover
			opacity: 0.8
			transition: all 0.2s ease
		&:active
			opacity: 1
			background: #e13867 

		