// VAR
// ===============================================


//	GENERAL
// ===============================================
/* 
 * GENERAL 
 */  
body
	font-size: 15px 
	line-height: 1.2
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: antialiased
