- var titleMod = { title: 'feedback' }; 
- var session = { locale: '' }

doctype html

html
	include includes/head.jade
	body
		.out
				header.header.m-mod
					.header-in
						a.logo(href="#") Aspire
						nav
							a(href="#").is-active.pulse.animated.s05 компания
							a(href="privileges.html") Привилегии
							a(href="#") услуги
							a(href="#") Newsletter
							a(href="#") Обратная связь
				.page
					.page-small
						.page-l.m-margin
							.page-l-content.fadeIn.animated.s2
								h1.text-center обратная связь
								.content
									p Добро пожаловать в Aspire Lifestyles — компанию нового поколения, предлагающую целостный и стратегически ориентированный сервис в сфере консьержа, персонального ассистанса и программ лояльности. Мы единственная компания, измеряющая свой успех степенью удовлетворенности клиентов.
							.page-l-sidebar.m-margin.bounceInDown.animated.s15
								.detail.m-small
									p Москва, <br>ул. Докукина, 16, стр.1
									p Время работы: <br>ежедневно, 24 часа
									p +7(499)500-44-20 <br>телефон для обращения <br>из любой страны 
									p 8 800 200 80 06 <br>бесплатный звонок на <br>территории России 
									p 8 820 0071 10 01 <br>бесплатный звонок на <br>территории Беларуси
									p 0 800 501 108 <br>бесплатный звонок на <br>территории Украины
									p
										a(href="#") mail@aspire-russia.ru
					.map
						.map-note
							.map-note-in
								.map-note-span Открыть карту в&nbsp;
								a(href="https://maps.yandex.ua/-/CVfn4-Ng", target="_blank").map-note-link Яндексе
								.map-note-span или&nbsp;
								a(href="https://www.google.com.ua/maps/place/%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0,+%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F/@55.749792,37.632495,9z/data=!3m1!4b1!4m2!3m1!1s0x46b54afc73d4b0c9:0x3d44d6cc5757cf4c", target="_blank").map-note-link Google Maps
						.map-in
							#my-map.map-item
							script.
								// When the window has finished loading create our google map below
								google.maps.event.addDomListener(window, 'load', init);
								function init() {
										var mapOptions = {
												scrollwheel: false,
												zoom: 11,
												disableDefaultUI: true,
												center: new google.maps.LatLng(55.747473, 37.607776)
										};
										var mapElement = document.getElementById('my-map');
										var map = new google.maps.Map(mapElement, mapOptions);

										var image = 'img/map-label.png';
										var myLatLng = new google.maps.LatLng(55.747473, 37.607776);
										var beachMarker = new google.maps.Marker({
										    position: myLatLng,
										    map: map,
										    icon: image
										});
								}
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
