- var titleMod = { title: 'feedback' }; 
- var session = { locale: '' }

doctype html

html
	include includes/head.jade 
	body
		.out
				header.header.m-mod
					.header-in
						a.logo(href="#") Aspire
						nav
							a(href="#").is-active.pulse.animated.s05 компания
							a(href="privileges.html") Привилегии
							a(href="#") услуги
							a(href="#") Newsletter
							a(href="#") Обратная связь
				.page
					.page-small
						.page-l.m-margin
							.page-l-content.fadeIn.animated.s2
								h1.text-center обратная связь
								.content
									p Добро пожаловать в Aspire Lifestyles — компанию нового поколения, предлагающую целостный и стратегически ориентированный сервис в сфере консьержа, персонального ассистанса и программ лояльности. Мы единственная компания, измеряющая свой успех степенью удовлетворенности клиентов.
							.page-l-sidebar.m-margin.bounceInDown.animated.s15
								.detail.m-small
									p Москва, <br>ул. Докукина, 16, стр.1
									p Время работы: <br>ежедневно, 24 часа
									p +7(499)500-44-20 <br>телефон для обращения <br>из любой страны 
									p 8 800 200 80 06 <br>бесплатный звонок на <br>территории России 
									p 8 820 0071 10 01 <br>бесплатный звонок на <br>территории Беларуси
									p 0 800 501 108 <br>бесплатный звонок на <br>территории Украины
									p
										a(href="#") mail@aspire-russia.ru
					.asd
						|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora odio provident suscipit, nesciunt adipisci maxime molestias eum possimus vitae cupiditate. Quisquam quis quibusdam culpa distinctio labore itaque possimus, ipsam iusto!
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
