- var titleMod = { title: 'main' }; 
- var session = { locale: '' }

doctype html

html
	include includes/head.jade
	body
		.out
				header.header.m-mod
					.header-in
						a.logo(href="#") Aspire
						nav
							a(href="#") компания
							a(href="privileges.html") Привилегии
							a(href="#") услуги
							a(href="#") Newsletter
							a(href="#") Обратная связь
				.page.m-main
					.gallery.m-noslider
						.js-flexslider
							.js-flexslider-in
								.gallery-item(style='background-image: url(img/slide41.jpg);')
									.gallery-item-container
										.gallery-item-note
											.gallery-item-title ЭКСКЛЮЗИВНЫЙ ОТДЫХ
											p Если Вы хотите что-то особенное, мы с удовольствием предложим развлечение, подходящее именно Вам — полет на истребителе или вертолете, катание на лыжах по нетронутым горам, погружение с акулами и многое другое.
								.gallery-item(style='background-image: url(img/slide42.jpg);')
									.gallery-item-container
										.gallery-item-note
											.gallery-item-title 2 КСКЛЮЗИВНЫЙ ОТДЫХ
											p 2 Если Вы хотите что-то особенное, мы с удовольствием предложим развлечение, подходящее именно Вам — полет на истребителе или вертолете, катание на лыжах по нетронутым горам, погружение с акулами и многое другое.
								.gallery-item(style='background-image: url(img/slide43.jpg);')
									.gallery-item-container
										.gallery-item-note
											.gallery-item-title 3 КСКЛЮЗИВНЫЙ ОТДЫХ
											p 3 Если Вы хотите что-то особенное, мы с удовольствием предложим развлечение, подходящее именно Вам — полет на истребителе или вертолете, катание на лыжах по нетронутым горам, погружение с акулами и многое другое.
						.gallery-prev
						.gallery-next
					.page-normal
						.page-l.m-main
							.news
								h1.news-title.text-center новости и предложения
								.news-items
									.news-item
										| 1  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cupiditate obcaecati ex voluptas quas quaerat magnam quibusdam unde tempore, nulla ad laudantium veniam eum, inventore nisi, quos nihil dolore voluptatem!
									.news-item
										| 2  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cupiditate obcaecati ex voluptas quas quaerat magnam quibusdam unde tempore, nulla ad laudantium veniam eum, inventore nisi, quos nihil dolore voluptatem!
									.news-item
										| 3  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil neque deleniti quaerat, perspiciatis, dignissimos cupiditate aliquid provident voluptates fugiat, porro quos non, ea nam dolorem? In minus ipsa tempora temporibus.
									.news-item
										| 4  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat odio earum maiores est! Numquam ducimus provident, voluptatum quis esse quisquam iusto debitis quia ratione dolore voluptas corporis quos doloremque assumenda.
									.news-item
										| 5  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque numquam asperiores eos illum quasi nesciunt at velit, deleniti culpa, nihil odio consectetur quae. Beatae nulla, rem ad, veritatis aperiam consequatur.
									.news-item
										| 6  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, quis doloremque. Beatae aperiam repellat, aut quod consectetur, earum eum voluptas cum itaque. Blanditiis impedit, error, placeat laudantium fugit ipsam necessitatibus.
								a(href="#").news-more
								ul.social.fadeIn.animated.s2
									li.social-item
										a(href="#").social-link.fb
											i.ico.i-fb
											span лайк
									li.social-item
										a(href="#").social-link.vk
											i.ico.i-vk
											span нравится
									li.social-item
										a(href="#").social-link.tw
											i.ico.i-tw
											span ретвит
									li.social-item
										a(href="#").social-link.gp
											i.ico.i-gp
											span + 1
								p.note.m-m0.bounceIn.animated.s1 1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
