- var titleMod = { title: 'newslatter' }; 
- var session = { locale: '' }

doctype html

html
	include includes/head.jade 
	body
		.out
				header.header.m-mod
					.header-in
						a.logo(href="#") Aspire
						nav
							a(href="#") компания
							a(href="privileges.html") Привилегии
							a(href="#") услуги
							a(href="#").is-active.pulse.animated.s05 Newsletter
							a(href="#") Обратная связь
				.page
					.gallery
						a.gallery-back-home.fadeIn.animated.s15(href="uslugi1.html")
						.js-flexslider
							.js-flexslider-in
								.gallery-item(style='background-image: url(img/slide21.jpg);')
									.gallery-item-title
										.gallery-item-title-in Newsletter
								.gallery-item(style='background-image: url(img/slide21.jpg);')
									.gallery-item-title
										.gallery-item-title-in Newsletter 2
						.gallery-prev
						.gallery-next
					.page-small
						.page-l.m-margin
							.page-l-content.fadeIn.animated.s2
								h1 71-й Венецианский кинофестиваль: кому может достаться «Золотой лев»
								.content
									p.lead Венецианский международный кинофестиваль ежегодно проводится на острове Лидо (Италия) с 1934 года.
									p В конкурсе полнометражных фильмов участвует не более 20 кинолент, которые не демонстрировались за пределами страны-производителя и не участвовали в других фестивалях. Отбором фильмов занимается директор кинофорума при помощи комиссии из пяти экспертов и группы иностранных консультантов. Список отобранных фильмов держится в секрете до официального объявления.
									img(src="img/content1.jpg", alt="")
									p В 2011 году «Золотой лев» отправился в Россию — его обладателем стал Александр Сокуров за фильм «Фауст». В 2013 году главный приз в Венеции впервые получила документальная картина «Священная римская кольцевая» Джанфранко Росси. 
									p.lead Каких сюрпризов стоит ожидать зрителям в 2014 году? В частности, на нынешний фестиваль попал документальный фильм от Джошуа Оппенхаймера, снявшего мощнейшую ленту «Акт убийства», получившую номинацию на «Оскар».
								ul.social.m-small.fadeIn.animated.s2
									li.social-item
										a(href="#").social-link.fb
											i.ico.i-fb
											span лайк
									li.social-item
										a(href="#").social-link.vk
											i.ico.i-vk
											span нравится
									li.social-item
										a(href="#").social-link.tw
											i.ico.i-tw
											span ретвит
									li.social-item
										a(href="#").social-link.gp
											i.ico.i-gp
											span + 1
							.page-l-sidebar.m-margin.bounceInDown.animated.s15
								.detail
									p Место проведения: Lido, Venice Lungomare Guglielmo Marconi, 41
									p с 27 августа <br>до 6 сентября
									p Часы работы: ежедневно с 10 до 24
								a.send(href="#") Обратный звонок
		script(data-headjs-load='js/init.js', src='js/lib/head.js')
